* { box-sizing: border-box; }

body { font-family: sans-serif; }

html { overflow-y: scroll; }

/* ---- grid ---- */

.grid {
  background: #EEE;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  float: left;
  width: 33.333%;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  display: inline-block;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

button {
  font-size: 20px;
}